@page
@model Projet_Web_Pizza.Pages.Admin.IndexModel
@{
}

<h1>Vous devez vous authentifié</h1>

<br />


@if (Model.HasErrors)
{
   
    <div class="alert alert-danger" role="alert">
        <p>ERREUR: Ce compte est invalide</p>
    </div>
}

<br />
<form method="post">
    <input type="text" name="username" placeholder="Login"><br /> <br />
    <input type="password" name="password" placeholder="Mot de passe"><br /> <br />
    <button>Se connecter</button>
</form>